.salenow {
  background: linear-gradient(360deg, #E0C340 0%, #DFC23E 3.93%, #E1C441 7.23%, #E3C743 10.23%, #E4C542 13.14%, #E6C744 16.22%, #E7C845 19.84%, #E5C643 24.38%, #E6C945 31.00%, #E3C743 37.19%, #E9CA48 43.33%, #EDCE49 50.36%, #F0D44C 56.57%, #F4D84F 62.71%, #F6DA52 67.12%, #F7DB53 73.77%, #F9DD55 79.08%, #F9DF56 85.64%, #FAE157 93.50%, #F9DF56 100%);
}

.salenow__container {
  padding: 0 30px 0 0;
}

.salenow__content {
  display: flex;
  align-items: center;

  color: #231300;
  font-size: 36.04px;
  font-weight: 500;
  line-height: 52.316px;
  letter-spacing: -0.721px;
}

.salenow__text {
  padding: 140px 0 155px 62px;
  max-width: 760px;
}

.salenow__title {
  margin-bottom: 33px;
  font-size: 111.608px;
  font-weight: 900;
  line-height: 137.185px;
  text-transform: uppercase;
}

.salenow__desc {
  margin-bottom: 40px;
}

.salenow__desc span {
  display: block;
  font-size: 36.04px;
  font-weight: 700;
  line-height: 52.316px;
  letter-spacing: 0.721px;
}

.salenow__btn {
  display: inline-block;
  padding: 26px 38px 26px 51px;
  color: #FFF;
  font-size: 28px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.56px;
  text-transform: uppercase;

  border-radius: 8.138px;
  background: #000;
}