.arrivals {
  padding: 120px 0 143px;
}

.arrivals__title {
  margin-bottom: 100px;
  text-transform: uppercase;
}

.arrivals__cards {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}